
<form action='/bookmarks/add' method=post>
  <label for='url'>
    Enter the bookmark you'd like to add:
  <label>
  <input type='text' id='url' name='url'>
  <input type='submit' name='Add Bookmark'>
</form>